body {
  background-color: grey;
  margin:0;
  padding:0;
  }


  /* das ist der unsichtbare block den man durchscrollen muss bis zum "fade" block 2 */
#first_block  { 
  display: block;
  /* width: 120%; */
  padding: 0px 0px 0px; 
  }

#v0 {
  position: fixed; 
  top: 0 ; 
  left: 0;  
  width: 100% ;
  z-index: -1;
}

p {
  font-family: Helvetica, sans-serif; 
  font-size: 24px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold 900;
  font-size: 2vw;
  text-align: center;
  line-height: 40px;
}


/* fade block */
#second_block {
  height: 2500px;
  background: linear-gradient(180deg, transparent 35%, white);
  width: 100%;
}

/* Inhaltsblock */
.content_block {
  background-color: white;
  height: auto;
  width: 100%;
  margin: 200px 0px 0px ; 

}
/* Stil im Inhaltsblock */
.content_block p {
  font-size: 8vw;
  text-align: center;
  margin-top:  10px;
  line-height: 11vw;
}

#logo {
  width: 70vw;
  padding-left: 13vw;
  padding-bottom: 300px;
  padding-top:  4400px;
}

